################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TRS80-M100-Norwegian/CopilotIndices/18.0.988.22099
/.vs/TRS80-M100-Norwegian.slnx/FileContentIndex
/.vs/TRS80-M100-Norwegian.slnx/v18
/.vs
